{% extends "layout.html" %}
{% block content %}

    <div class="adopt-content-block">
        <div class="animals-result-container">
            {% if animals %}
                {% for animal in animals %}
                    <div class="adopt-single-animal">
                        <a href="/{{ animal.get("id") }}">
                            <div>
                                <h2>{{ animal.get("nom") }}</h2>
                                <p>{{ animal.get("description") }} ans</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun animal ne correspond à la recherche</p>
            {% endif %}
        </div>
    </div>

{% endblock %}